[Unit]
Description=My Miscellaneous Service
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=jenkins-master
WorkingDirectory=/var/lib/jenkins/monitor/
ExecStart=/var/lib/jenkins/monitor/monitor-server.py
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
